extends layout

block content
  //Main jumbotron for a primary marketing message or call to action
  div.jumbotron
    h1= title
  div.row
    each val in result
      div.col-md-4
        iframe(src=val.PlayerURL)
        p
          a(href=val.URL) #{val.Title}

